* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-size: 62.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(61, 58, 58);
    z-index: -1;
}

.barsDiv {
    height: 53vh;
    /* background-color: blue; */
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    border: 5px black solid;
    border-radius: 1rem 1rem 0rem 0rem;
    background-color: rgb(44, 42, 42);
    
}
.buttons {
    height: 20vh;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.press {
    padding: 1.5rem;
    font-size: 1.5rem;
    margin: 0 5vh;
    background: none;
    cursor: pointer;
    color: azure;
}

#runr {
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    color: rgb(12, 199, 12);
    border-radius: 10%;
}


.bar {
    width: 2vw;
    background-color: rgb(221, 194, 178);
    border: 1px black solid;
    /* background: rgb(35, 240, 52); */
}

h1 {
    color: rgb(255, 124, 72);
    font-size: 3rem;
}


#sortType {
    padding: 1.5rem;
    font-size: 1.5rem;
    background: none;
    color: azure;
    margin: 0 5vh;
}

p {
    color: rgb(146, 146, 243);
    font-size: 1.2rem;
}



@media (max-width: 650px) {
    

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    h1 {
        font-size: 1.6rem;
    }

    .barsDiv {
        width: 90vw;
        margin-bottom: 5rem;
    }

    .bar {
        width: 3.6vw;
    }

    p {
        display: none;
    }

    .press {
        margin-top: 1rem;
    }
}
